
:root {
  --pico-border-radius: 2rem;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
  --pico-font-family: "Open Sans", sans-serif;
  --pico-font-weight: 300;
  --pico-primary: #7b1917;
  --pico-underline: #7b1917;
}

a {
  color: #7b1917;
  text-decoration-color: #7b1917;
}
a:hover {
  color: #88302e;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
}

body > header {
  padding-left: 0px;
}

body > main {
  padding-left: 0px;
}

body > footer {
  padding-left: 0px;
}

header {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #de7d26 ;
}

/* Container for menu items */
header nav {
  margin-left: auto;
}

header nav ul {
  font-weight: 700;
  font-size: 1.35rem;
  padding-left: 0.5rem;
  padding-right: 0rem;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  padding-top: 0px;
  padding-bottom: 0px;
  flex-grow: 1;
  flex-shrink: 1;
}

h1 {
  --pico-font-weight: 700;
  --pico-font-size: 1.9rem;
  --pico-typography-spacing-vertical: 0.5rem;
  text-transform: uppercase;
  color: #7b1917;
}

h2 {
  --pico-font-weight: 700;
  --pico-font-size: 1.4rem;
  --pico-typography-spacing-vertical: 0.5rem;
  text-transform: uppercase;
  color: #7b1917;
}

button {
  --pico-font-weight: 700;
}

footer {
  font-weight: 400;
  font-size: 0.85rem;
  padding-left: 0.5rem;
  padding-right: 0rem;
}

blockquote {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
  font-style: italic;
}
