
:root {
  --pico-border-radius: 2rem;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
  --pico-font-family: "Open Sans", sans-serif;
  --pico-font-weight: 300;
  --pico-primary: #2d5a27;
  --pico-primary-hover: #3d7a35; /* slightly lighter on hover */

}

a {
  color: #2d5a27;
}
a:hover {
  color: #3d7a35;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Container for menu items */
header {
  display: flex;
  border-bottom: 5px solid ;
  border-image: linear-gradient(to right, #f9fdf8, #3d7a35) 1;
}
.vertical-stack {
  display: flex;
  flex-grow: 1;
  flex-direction: column; /* Ensures inner divs stack vertically */
}

header nav {
  margin-left: auto;
}

header nav ul {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-size: 1.35rem;
  padding-left: 0.5rem;
  padding-right: 0rem;
}

/* Media query for mobile (typically screens under 768px) */
@media (max-width: 768px) {
header nav ul {
}
}

header div.title {
  padding-right: auto;
}

header span {
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-size: 2.65rem;
}


main p {
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  --pico-font-family: "DM Serif Display", serif;
  --pico-font-weight: 700;
  --pico-font-size: 1.6rem;
  --pico-typography-spacing-vertical: 0.5rem;
}

button {
  --pico-font-weight: 700;
}

footer {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 0.85rem;
  padding-left: 0.5rem;
  padding-right: 0rem;
}
